# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Java
*.log
*.tmp
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Test Server
test-server/
run/
